$primary-color: #19e4a0;
$secondary-color: #fdd340;

header{
    position: sticky;
    top: 0;
}
.top__image-banner{
    width: 100%;
    height: 600px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
    }
}
.header__nav{
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.logo-img{
    height: 40px;
}
.navLists{
    display: flex;
    align-items: center;
}
.navContent{
    margin-right: 5px;
    li{
        margin-right: 30px;
        font-size: 13px;
        color: #000;
        font-weight: 600;
        cursor: pointer;
    }
}
.nav__buyTickets{
    padding: 20px  50px;
    font-weight: 600;
    text-decoration: none;
    background: $secondary-color;
    a{
        color: black;
        font-size: 14px;
    }
}
.second-nav{
    background-color: rgb(29, 31, 39);
    :first-child{
        margin-left: 0;
    }
    li{
        margin-left: 20px;
    }
    a{
        color: rgb(194, 194, 194);
        font-size: 14px;
    }
    display: flex;
    align-items: center;
}
.second__navlist{
    padding: 2px 0 2px 30px;
}
.responsive__navBurger{
    margin-left: 30px;
    display: none;
}
.menu__line{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 7px 0;
}
.sn-list{
    overflow: hidden;
    padding: 2px ;
    img{
        height: 35px;
        padding: 2px 0;
    }
    margin-left: 30px;
}
.sn-list img:hover{
    opacity: .5;
    transition: .4s;
    cursor: pointer;
}
.banner__text{
    position: absolute;
    z-index: 1;
    top: 25%;
    h2{
        font-size: 45px;
        color: #ebebeb;
    }
    h1{
        font-size: 100px;
        font-weight: 900;
        color: #ebebeb;
        font-family: 'Roboto', sans-serif;
    }
    p{
        font-size: 20px;
        color: #ffffff;
        padding-bottom: 30px;
    }
}
.explore-btn{
    padding: 15px 50px;
    border: 2px solid $secondary-color;
    font-size: 17px;
    font-weight: 700;
    color: #ebebeb;
    transition: .3s;
}
.explore-btn:hover{
    background-color: $secondary-color;
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.about__section{
    margin: 100px 0;
}
.about__image{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #000;
    top: 0;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        opacity: .6;
        transition: .4s;
    }
}
.about__image-donation{
    position: absolute;
    z-index: 1;
    transform: translate(5vh, 50vh);
    a{
        color: $primary-color;
    }
    h3{
        font-weight: 900;
        color: white;
    }
    h4{
        color: white;
    }
}
.about__image img:hover{
    transform: scale(1.3);
    transition: .4s;
}
.about__headline{
    margin-top: 50px;
    h6{
        font-weight: 400;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: $primary-color;
    }
    h3{
        font-size: 30px;
        font-weight: lighter;
        padding-bottom: 25px;
    }
}
.about__body{
    p{
        color: rgba(71, 71, 71, 0.897);
    }
}
.sponsores__images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
    margin: 30px 0;
}
.sponsore__item{
    width: 100%;
    object-fit: contain;
    height: 120px;
}
.more__about-btn{
    position: relative;
    padding: 15px 45px;
    border: 2px solid $primary-color;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
}
.more__about-bnt:hover{
    background: $primary-color;
    transition: .3s;
}
.animals__inZoo{
    margin: 150px 0;
}
.animals__headline-grid-left{
    p{
        color: #777;
        padding-top: 20px;
    }
}
.headline__title{
    display: flex;
    h2{
        font-size: 35px;
    }
    :first-child{
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        color: $primary-color;
    }
    :last-child{
        margin-left: 10px;
    }
}
.zoo__someStatistics-Indicators{
    li{
        text-align: center;
        :first-child{
            font-size: 20px;
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
        }
    }
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
}

.animals__icons{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
}
.animals__list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 55px;
    transition: .4s;
    img{
        height: 50px;
        object-fit: contain;
        transition: .4s;
    }
}
.animals__list-item:hover{
    img{
        transform: scale(1.5);
        transition: .4s;
    }
    margin-bottom: 20px;
    transition: .4s;
}

.animals__galerry{
    background-color: $secondary-color;
}
.animals__galerry-headline{
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        padding: 15px 45px;
        border: 2px solid #000;
        color: #000;
        font-size: 15px;
    }
}
.animasl_headline-inner{
    :first-child{
        font-size: 40px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    }
}
.galerry__items{
    .col-lg-3, .col-lg-12, .col-lg-6{
        padding: 0;
        overflow: hidden;
    }
}
.galerry__image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}
.galerry__image:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

.services__area{
    margin: 150px 0;
}
.services{
    :first-child{
        font-size: 35px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: $primary-color;
    }
    :nth-child(2){
        font-size: 35px;
        padding-bottom: 15px;
    }
    a{
        padding: 15px 45px;
        border: 2px solid $primary-color;
        color: #000;
        font-size: 15px;
        text-decoration: none;
    }
}
.mobileApp{
    width: 100%;
    height: 160px;
    background-color: $primary-color;
    display: flex;
    // align-items: center;
    padding: 30px 20px 0 20px;
    img{
        height: 60px;
    }
    h6{
        font-size: 20px;
        font-weight: 700;
    }
}
.service-item{
    width: 100%;
    img{
        height: 40px;
    }
    h5{
        padding-top: 10px;
        color: $primary-color;
    }
    p{
        color: #374957;
        // width: 250px;
    }
}

.events{
    margin: 100px 0;
    background-color: whitesmoke;
}
.event__item{
    background-color: white;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    li{
        margin: 0 20px;
        :first-child{
            font-size: 17px;
            font-weight: bold;
        }
    }
}
.event_img{
    width: 180px;
    height: 120px;
}



.event__image{
    background-color: #16161a;
    img{
        width: 100%;
        height: 800px;
        opacity: .5;
    }
}
// .event__description__headline{
//     position: absolute;
//     z-index: 1;
// }
.event__description{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffffff;
    padding: 0 60px;
    li{
        padding-top: 30px;
        padding-bottom: 20px;
        :first-child{
            color: $secondary-color; 
        }
    }
}
.event__description__headline{
    padding-bottom: 30px;
    :first-child{
        font-weight: 900;
        font-size: 40px;
        color: $secondary-color;
    }
    :last-child{
        font-size: 35px;
    }

}
.event-banner-body{
    width: 80%;
}
.event__joinBtn{
    padding: 10px 50px;
    color: rgb(0, 0, 0);
    background-color: $secondary-color;
}
.feature__events{
    width: 100%;
}
.feature__events-headline{
    // margin-left: 100px;
    margin-top: 200px;
    :first-child{
        font-size: 35px;
        font-weight: bold;
        color: $secondary-color;
    }
    :last-child{
        font-size: 35px;
    }
}
.instagran__galerry-headline{
    display: flex;
    :first-child{
        font-weight: 900;
        font-size: 35px;
        color: $secondary-color;
    }
    :last-child{
        font-size: 35px;
        margin-left: 10px;
    }
}
.instagram__galerry{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0;
}
.galerryItem{
    background-color: #40fd8f;
    overflow: hidden;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: .3s;
    }
    img:hover{
        opacity: .8;
        transform: scale(1.3);
        transition: .3s;
    }
}


footer{
    width: 100%;
    background: #16161a;
    padding: 50px 0;
}
.footer__logo{
    height: 40px;
}
.footer-info{
    color: #919ba2;
    font-size: 13px;
}
.footer__socNetwork-bar{
    img{
        height: 25px;
        margin-left: 8px;
    }
    :first-child{
        margin-left: 0;
    }
}
.workingHours-headline{
    h5{
        color: whitesmoke;
        font-weight: 900;
        font-size: 16px;
    }
}
.workingDays{
    display: flex;
    flex-direction: column;
    li{
        margin: 5px 0;
        font-size: 14px;
        color: #ececec;
        :nth-child(2){
            position: absolute;
            left: 30vh;
            color: $secondary-color;
            font-size: 13px;
        }
    }
}

.footer__newsletter{
    form{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    input{
        color: #c9cdcf;
    background: 0 0;
    border: 2px solid #3d474e;
    margin-bottom: 10px;
    padding: 11px 20px;
    }
    button{
        padding: 11px 30px;
        border: 0;
        outline: 0;
        border: 2px solid $secondary-color;
        background: transparent;
        color: #919ba2;
    }
}

.modal{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}